{{#each listitems as |listitem|}}
  <div class="col-6 box-item">
    <div class="col-3 pull-left" data-id="{{listitem.id}}">
      <div class="listItemName" data-item-name="{{listitem.name}}">Name: {{listitem.name}}</div>
      <div class="listItemLocation" data-item-location="{{listitem.location}}">Location: {{listitem.location}}</div>
      <div class="listItemCategory" data-item-category="{{listitem.category}}">Category: {{listitem.category}}</div>
      <div class="listItemRating" data-item-rating="{{listitem.rating}}">Rating: {{listitem.rating}}</div>
    </div>
    <div class="col-3 pull-right container-item-btn">
      <button class='remove-button'>Remove</button>
      <button class="edit-button" data-toggle="modal" data-target="#modal-edit">Edit</button>
    </div>
  </div>
{{/each}}
