{{#each listitems as |listitem|}}
<ul data-id="{{listitem.id}}">
  <li class="listItemName" data-item-name="{{listitem.name}}">Name: {{listitem.name}}</li>
  <li class="listItemLocation" data-item-location="{{listitem.location}}">Location: {{listitem.location}}</li>
  <li class="listItemCategory" data-item-category="{{listitem.category}}">Category: {{listitem.category}}</li>
  <li class="listItemRating"data-item-rating="{{listitem.rating}}">Rating: {{listitem.rating}}</li>
  <li><button class='remove-button'>Remove</button></li>
  <li><button  class="edit-button" data-toggle="modal" data-target="#modal-edit">Edit</button></li>

  <!-- <li><button class='edit-button'>Edit</button></li> -->
</ul>
{{/each}}
