{{#each yelpresults as |result|}}
<div class="col-6 box-yelp-result">
  <div class="col-3 pull-left container-reult-pic">
    <img class="yelpImage" src="{{result.image_url}}" style="width:128px;height:128px;"></img>
  </div>
  <div class="col-3 pull-left container-result-info" data-id="{{result.id}}">
    <div class="resultName" data-item-name="{{result.name}}">Name: {{result.name}}</div>
    <div class="resultLocation" data-item-location="{{result.location.city}}">Location: {{result.location.city}}</div>
    <div><a target="_blank" href="{{result.url}}">Visit Site: {{result.name}}</a></div>
    <br>
    <div><button class="add-result-button" data-toggle="modal" data-target="#modal-add">Add To Bucket List!</button></div>
  </div>
</div>
{{/each}}
